.delivery_txt_2{
    margin-bottom: 6px;
	font-weight: 700;
	font-size: 18px;
	color: rgb(41, 41, 41);
}
.payment_txt{
    margin-bottom: 20px;
	font-weight: 700;
	font-size: 18px;
	color: rgb(88, 87, 87);
}
.payment_tit{
    margin-bottom: 20px;
	font-weight: 700;
	font-size: 21px;
	color: black;
}